* {
    /*************************
     * Customization section
     *************************/
    --pageBackgroundColor: transparent;
    --pageTextColor: white;

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: 1fr;
    --clubWidth: max-content;

    /* left column width: adjust depending on how you name groups */
    --startWidth: 0em;
    --startVisibility: hidden;

    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 11ch;
    --categoryVisibility: visible;

    --liftResultWidth: 6ch;

    /* to show these columns
    - change hidden to visible
    - set the width to value like 8ch
    */
    --birthWidth: 0;
    --birthVisibility: hidden;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: 3em;
    --rankVisibility: visible;
    --totalRankWidth: 3em;
    --totalRankVisibility: visible;

    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;
    /*
    --bestWidth: 0;
    --bestVisibility: hidden;
      */

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;
    --recordTypeHeightRatio: 75%;
    --recordsNotificationFontSize: 2.0em;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;

    /* flag height */
    --flagHeight: 2.7vh;
}

table.results.ranks {
    --rankWidth: 3em;
    --rankVisibility: visible;
}

table.results.noranks {
    --rankWidth: 0;
    --rankVisibility: hidden;
}

table.results.totalRank {
    /* do not use rankWidth since we set it to 0 */
    --totalRankWidth: 3em;
    --totalRankVisibility: visible;
}

table.results.nosinclair {
    --sinclairWidth: 0;
    --sinclairVisibility: hidden;
    --sinclairVspacerWidth: 0;
    --sinclairRankWidth: 0;
    --sinclairRankVisibility: hidden;
}

/* Hide all sinclair elements when nosinclair */
table.results.nosinclair th.sinclair,
table.results.nosinclair td.sinclair,
table.results.nosinclair th.sinclairRank,
table.results.nosinclair td.sinclairRank,
table.results.nosinclair th.sinclairVspacer,
table.results.nosinclair td.sinclairVspacer,
table.results.nosinclair .leaders th.sinclair,
table.results.nosinclair .leaders td.sinclair,
table.results.nosinclair .leaders th.sinclairRank,
table.results.nosinclair .leaders td.sinclairRank,
table.results.nosinclair .leaders th.sinclairVspacer,
table.results.nosinclair .leaders td.sinclairVspacer {
    visibility: hidden !important;
    width: 0 !important;
    min-width: 0 !important;
}

table.results.sinclair.nosinclairRank {
    --sinclairRankWidth: 0;
    --sinclairRankVisibility: hidden;
}

/* Hide sinclairRank elements when sinclair is shown but ranks are off */
table.results.sinclair.nosinclairRank th.sinclairRank,
table.results.sinclair.nosinclairRank td.sinclairRank,
table.results.sinclair.nosinclairRank .leaders th.sinclairRank,
table.results.sinclair.nosinclairRank .leaders td.sinclairRank {
    visibility: hidden !important;
    width: 0 !important;
    min-width: 0 !important;
}

table.results.sinclair {
    --sinclairWidth: 0;
    --sinclairVisibility: hidden;
}

:host .light table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh;
}

:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh;
}

/* default for page
.wrapper {
    --tableFontSize: 1.25rem;
    --recordValueCellHeight: calc(var(--tableFontSize)*1.5);
    --recordsFontRatio: 0.9;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);

    padding: 1vmin 2vmin 2vmin 2vmin;
    overflow: hidden;
    display: grid;
    justify-content: center;
    line-height: unset;
}

.blockPositioningWrapper {
    background-color: var(--blockBackgroundColor);
    width: fit-content;
    height: fit-content;
    padding: 0.66em;
    margin-top: 1em;
}
*/

.blockPositioningWrapper {
    background-color: var(--blockBackgroundColor);
    padding: 0.75em;
    margin-block-start: 1em;
    flex-grow: 0;
}

.filler {
    background-color: var(--blockBackgroundColor);
    /* min-height: 1.5em; */
}
td.flags div img {
	width: calc(var(--flagHeight)*1.3);
    height: calc(var(--flagHeight));
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div {
	width: calc(var(--flagHeight)*1.3);
    height: calc(var(--flagHeight));
    align-self: center;
    display: flex;
}

td.custom1 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}
td.custom2 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}